.upgrade-form-submit
{
    width: 15% !important;
    color: #fff !important;
    background-color: #1890ff !important;
    border-color: #1890ff !important;
    margin: 2%;
    margin-left: 41%;
}
.proceedToAdminBtn
{
    color: #fff;
    background-color: blue;
    width: 100%;
}
.textTitle{

font-weight: bold;
font-size: 21px;

}
.panelBlock
{
padding:5px;
}
