.noDisplay
{
    display: none
}
.addPlusBtn{
    color: blue;
    font-size: 28px !important;
}
.editPencilBtn{
    color: black;
    font-size: 20px !important;
}
.cancelMinusBtn{
    color: red;
    font-size: 28px !important;
}
.deleteTrash{
    color: red;
    font-size: 20px !important;
}
.proceedToAdminBtn {
    color: #fff !important;
    background-color: blue !important;
    width: 30%;
}
.shift-up
{
    margin-bottom:20px;
}
.thTitle
{
color:black !important;
font-size:14px;
}
.trText
{
font-size:15px;
}